.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.profile-basket-block {
	gap: 15px;
	display: flex;
}

header {
	position: relative;
}
.header-section {
	position: fixed;
	background-color: #fff;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 66;
}
